/* 
    Created on : 7 oct. 2016, 09:02:24
    Author     : wangy
*/
body * {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 14px;
}

#nav-accueil {
    background-color: #3E3D88;
    text-align: center;
    line-height: 80px;
    text-transform: uppercase;

}

#nav-accueil li + li::before {
    content: " | ";
    color: white;
}

#temoignage {
    background-color: #9E593F;
}

.conteneur {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

#connexion {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 172px;
    border-left: 1px solid gainsboro;

}

#connexion input {
    width: 250px;
    border: 1px solid #3E3D88;
    background-color: transparent;
    display: block;
    padding: 8px;
    margin-bottom: 20px;
}

#connexion button {
    border: none;
    background-color: #692F7A;
    color: white;
    padding: 8px;
    border-radius: 5px 5px;
}

#connexion > * {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 20px;
}

#nav-accueil a {
    color: #ffffff;
    font-size: 1.3em;
    text-decoration: none;

}

#nav-accueil li {
    display: inline-block;
}

#bienvenue {
    background-image: url('/sistr/images/bamboo-blured.jpg');
    background-position: left;
    height: auto;
    background-size: cover;
}

#bienvenue h2 {
    position: relative;
    padding-top: 160px;
    padding-left: 100px;
    padding-bottom: 80px;
    font-size: 4em;
    color: white;
    text-transform: uppercase;
}

#derniers-suivis h3 {
    color: #3E3D88;
    font-size: 2em;
    text-align: center;
    margin: 80px auto;
}

#derniers-suivis table {
    margin: 0px auto 80px auto;
    width: 90%;
    line-height: 40px;
}

#derniers-suivis tr + tr {
    border-top: #DDDDDD solid 1px;
}

#derniers-suivis td:first-child {
    font-size: 1.5em;
    color: #AAAAAA;
    font-weight: 400;
}

#derniers-suivis td + td {
    font-size: 1.5em;
    font-weight: 100;
    color: #AAAAAA;
    width: 100px;
    padding-right: 20px;
    text-align: right;
}

#derniers-suivis td + td + td {
    padding-right: 0px;
    text-align: right;
}

#temoignage {
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
}

#temoignage i {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

#temoignage p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
}

.bloc33 {
    width: 300px;
    margin: 0 10px 0 10px;
    float: left;
}

.clear {
    clear: left;
}

#description {
    padding-top: 80px;
}

#description h3 {
    color: #692F7A;
    font-size: 5em;
}

#description span {
    margin-top: 20px;
    font-size: 0.5em;
    display: block;
}

#description p {
    font-size: 1.4em;
    line-height: 1.8em;
    margin-top: 20px;
}

#description .bloc33 {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    background-color: white;
    transition: all 1s ease;
    transition-property: box-shadow, background-color;
}

#description .bloc33:hover {
    background-color: #EEEEEE;
    border-radius: 10px 10px;
    box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.2);
}

#pied-de-page {
    margin-top: 80px;
    background-color: #7A3466;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}

#pied-de-page p {
    font-size: 0.8em;
    margin-bottom: 40px;
}

#pied-de-page h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#pied-de-page li {
    line-height: 1.8em;
    font-size: 0.8em;
}

#pied-de-page a {
    color: white;
    text-decoration: none;

}
#validation-messages{
    position:absolute;
    top:6px;
}